body{
	--color-primary: pink;
	--color-primary-dark: rgb(219, 178, 185);
	--color-secondary: violet;
	--color-error: red;
	--color-success: green;
	--border-radius: 4px;
	
    background: var(--color-primary);
    font: 500 1rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;	
	font-size: 18px;
	margin: 0;
}

.nav{
	display: flex;
    top: 35%;
    left: 43%;
    position: absolute;
    justify-content: center;
	line-height:60px;
    z-index:100;
	background:white;
}

.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}